.header-top-container {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: black;
  margin-top: 25px;
  padding: 0 15px;
}

.header-midle-container {
  width: 70%;
  background-color: bisque;
}

.header-client-area {
  display: flex;
  gap: 40px;
}

.form-cointainer {
  width: 100%;
}

.form {
  width: 100%;
}

.width-100 {
  width: 100%;
}
