.menu-lateral-admin {
  display: flex;
  flex-direction: column;
  width: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20%;
  margin-top: 35px;
}

.menu-lateral nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  white-space: nowrap;
}

.admin-container {
  width: 100%;
  height: 100%;
}
.admin-main-container {
  width: 100%;
}
.width-30 {
  width: 25%;
}

.admin-menu {
  width: 80%;
}

.admin-menu-title-container {
  width: 40%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

.admin-menu-title {
  width: 60%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 800;
  font-size: 26px;
  white-space: nowrap;
}

.form container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}
