.header-top-container {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: black;
  margin-top: 25px;
}

.search {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.search-input {
  width: calc(100% - 30px);
  height: 100%;
  padding-right: 30px;
}

.BsSearch {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.header-client-area {
  display: flex;
  gap: 40px;
}
